

.header{
  font-family:fantasy ;
   color:blue;
   background-color: #000000;
   padding:15px;
   font-size:20px;
   font-family: sans-serif;
   font-weight: 400;
   color:#ffffff;
} 
.menu{
   display: flex;
   justify-content: space-between;
   background-color: #000000;
   padding:15px;
   font-size:20px;
   font-family: sans-serif;
   font-weight: 400;
   color:#ffffff;
}  
.grid{
   display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;
}         
.grid img{
   border:2px solid #000000;
   border-radius:50px;
}
.item{
   border-radius:20px;
   background-color: #ffffff;
   padding:30px;
   margin:25px;
   width:310px;
   font-family: fantasy;
}